include ../partials/header.pug
h1 Qui prend quoi ?
h2 Evénement: #{party.name}
h3 Créé par #{party.author}
label(for="url") Partagez l'événement 
input(id="url" value=`${url}`)
form(method="post" action=`/party/${id}/items`)
  <br>
  div
    label(for="name") Nom du participant 
    input(name="name" id="name" required minlength="3" placeholder="Nom")
    <br>
    label(for="food") Aliment apporté 
    input(name="food" id="food" required minlength="3" placeholder="Aliment apporté")
  button(type="submit") Ajouté
ul
  each item in party.items
    form(action=`/party/${id}/items/${item._id}?_method=DELETE` method="post" )
      li #{item.name}
      li #{item.food}
      button(type="submit") supprimer


      