include ../partials/header.pug
h1 Qui prend quoi ?
h2 Evénement: #{party.name}
h3 Créé par #{party.author}
label(for="url") Partagez l'événement 
input(id="url" value=`${url}` data-clipboard=`${url}` data-share-url=`${url}` data-share-title=`${party.name}` data-share-text=`${party.author} vous invite a rejoindre l'événement ${party.name}`)
form(method="post" action=`/party/${id}/items`).newParty
  <br>
  div.newParty__fields
    label(for="name") Nom du participant 
    input(name="name" id="name" required minlength="3" placeholder="Nom")
  button.addButton(type="submit") Ajouté
ul
  each item in party.items
    form(action=`/party/${id}/items/${item._id}?_method=DELETE` method="post" )
      li #{item.name}
      button.deleteButton(type="submit") supprimer
button.fullScreen FullScreen


      